@{
    Layout = null;

 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issues: @ViewBag.IssueNumber</h2>

        <h5>Description:</h5>
        <br />
        <div>@Html.Raw(ViewBag.Description)</div>

        @if (ViewBag.Artist.Length > 0)
        {
            <h5>Artist:</h5>
            <div>
                <ul>
                    @foreach (var kunstner in ViewBag.Artist)
                    {
                        <li>@kunstner</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
