@{
    Layout = null;

    var seriesTitle = "The amazing spider-man";
    var issueNumber = 700;
    var description = "Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,  At vero eos et accusam et justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.  Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amet.  sed diam voluptua. ";
    var artist = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors:Edgar Delgardo",
        "Letters: Chris Eliopoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issues: @issueNumber</h2>

        <h5>Description:</h5>
        <br />
        <div>@Html.Raw(description)</div>

        @if (artist.Length > 0)
        {
            <h5>Artist:</h5>
            <div>
                <ul>
                    @foreach (var kunstner in artist)
                    {
                        <li>@kunstner</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
